/* Angular Material Theme - déjà importé par ng add @angular/material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Custom Snackbar Styles */
.snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}

.snackbar-error {
  background-color: #f44336 !important;
  color: white !important;
}

.snackbar-success .mat-simple-snackbar-action,
.snackbar-error .mat-simple-snackbar-action {
  color: white !important;
}
